body {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch; /*if we do not specify the heights, it stretches the items*/
  /* align-content: center; */
  /* align-items: center; */ /*Base line of the text inside the items*/
  justify-content: flex-end;
  height: 400px;
}

div {
  background-color: blue;
  border: 1px solid black;
  width: 100px;
  margin: 1rem;
  text-align: center;
}

/* #one {
  height: 300px;
}

#two {
  height: 150px;
}

#three {
  height: 200px;
} */
