body {
  background-color: blue;
}

.style_2 {
  border: solid black;
  background-color: rgb(125, 224, 125);
  width: 700px;
  height: 1000px;
  margin: 0 auto;
}

.style_1 {
  border: groove 20px yellow;
  width: 500px;
  height: 300px;
  background-image: url(surf.jpg);
  background-size: cover;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.style_3 {
  color: red;
  font-size: 20px;
}

.style_4 {
  color: blue;
  font-size: 20px;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
}
h1 {
  margin-right: 30px;
  margin-left: 30px;
}
