* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid red;
  margin: 10px;
}

nav {
  border: 1px solid red;
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

li {
  list-style: none;
  margin: 15px;
}

article {
  border: 1px solid red;
}

p {
  text-align: justify;
  padding: 10px;
}
