* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 80px;
  border-bottom: 2px solid gray;
}

.stepper_1 {
  font-size: 2rem;
  flex-grow: 1;
  text-align: center;
  height: 100%;
}

.stepper_1:hover {
  border-bottom: 5px solid darkturquoise;
}
