body {
  display: flex;
  flex-flow: row wrap;
  border: 2px dashed blue;
  justify-content: center;
  align-content: center;
}

div {
  /* flex-grow: 1; */
  height: 200px;
  width: 200px;
  margin: 1rem;
  background-color: red;
  border: 2px solid black;
}
