body {
  display: flex;
  flex-flow: row wrap;
  /* width: 700px; */
}

div {
  border: 2px solid black;
  height: 100;
  margin: 1rem;
  text-align: center;
}

#one {
  flex-grow: 1;
}

#two {
  flex-grow: 2;
}
